<div class="container"> <!-- producto list container-->


    <!-- fila 1 -->
    <div class="row grid gx-1">
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary">Shirts</button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary">Dresses</button>
        </div>
 
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary">Jeans</button>
        </div>
  
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary">Cap</button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary"></button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-primary"></button>
        </div>
      </div>
    </div>

    <!-- fila 2 -->
    <div class="row grid mt-2 gx-1 p-0">
      <div class="col" >
        
          <img src="dress.png" class="img-product border border-dark">
       
        
        
      </div>
      <div class="col">
       
          <img src="coat.png" class="img-product border border-dark">
       
        
      </div>
      <div class="col">
        <img src="shoe1.png" class="img-product border border-dark">
 
      </div>
      <div class="col">
        <img src="cap.png" class="img-product border border-dark">
  
      </div>
      <div class="col">
        <img src="shirts.png" class="img-product border border-dark">
      </div>
      <div class="col">
        <img src="shoe2.png" class="img-product border border-dark">
      </div>
      <div class="col">
        <img src="jeans.png" class="img-product border border-dark">
      </div>
    </div>


 <!-- fila 3 -->
 <div class="row grid mt-2 gx-1">
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
    <button type="button" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Recent Sales</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Pending Sales</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Pickup Orders</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Layaways</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Close Day</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-file-excel me-2"></i>X-Reports</button>
    </div>
  </div>
</div>

<!-- fila 4 -->
<div class="row grid mt-2 gx-1">
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
    <button type="button" class="btn btn-primary">Cash In/Out</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-cart-shopping me-2"></i>Stock</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-clock me-2"></i>Clock In/Out</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary">Check Gift card balance</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-print me-2"></i>Coupons</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"></button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-primary"></button>
    </div>
  </div>
</div>

<!-- fila 5 -->
<div class="row grid mt-2 gx-1">
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
    <button type="button" class="btn btn-info"><i class="fa-solid fa-folder-plus me-2"></i>New Sale</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info"><i class="fa-solid fa-box-archive me-2"></i>Save Sale</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info"><i class="fa-solid fa-floppy-disk me-2"></i>Save as Order</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info">Save as Layaways</button>
    </div>

  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info"><i class="fa-solid fa-percent me-2"></i>Discount</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info"><i class="fa-solid fa-chart-line me-2"></i>Tax exempt</button>
    </div>
  </div>
  <div class="col">
    <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-info"><i class="fa-solid fa-pencil me-2"></i>Notes</button>
    </div>
  </div>
</div>


    <!-- fila 6 -->
    <div class="row grid mt-2 gx-1">
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-info"><i class="fa-solid fa-file-export me-2"></i>Last Recipent</button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"><i class="fa-solid fa-hard-drive me-2"></i>Cash drawer</button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"><i class="fa-solid fa-award me-2"></i>Promocions</button>
        </div>
 
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"><i class="fa-solid fa-gift me-2"></i>Receipt</button>
        </div>
  
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"><i class="fa-solid fa-route me-2"></i>Add shipping</button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"></button>
        </div>
      </div>
      <div class="col">
        <div class="btn-group btn-group-block" role="group">
          <button type="button" class="btn btn-info"></button>
        </div>
      </div>
    </div>
