<div class="row">
    <div class="col-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Customer" aria-label="">
        <button class="btn btn-outline-success" type="button">🔎</button>
      </div>
  </div>
  <div class="col-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Product" aria-label="">
      <button class="btn btn-outline-success" type="button">🔎</button>
    </div>
    </div>
</div>


<div class="row mt-2">
  <div class="row">
  <div class="col-4">
  <img src="user1.png" alt="" width="80" height="80">
  </div>
  <div class="col-8">
    <h3>
      Jane Joe
    </h3>
    <h6>
      Loyalty Program
    </h6>
    </div>
  </div>

  <div class="row mt-4">
 <div class="col-4 border-secondary border-end">
  <h6>Store</h6>
  <h4>0.00</h4>
  
  
 </div>
 <div class="col-4 border-secondary border-end">

  
  <h6>Reward</h6>
  <h4>4200</h4>
 </div>
 <div class="col-4 ">
  <h6>Visit</h6>
  <h4>24</h4>
 
  </div>
  </div>


  <div class="row mt-2">
    <div class="col-6">
      <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-warning"><i class="fa-solid fa-address-card"></i></button>
        </div>
    </div>
    
    <div class="col-6">
      <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-info">Purchases</button>
        </div>
      
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <!-- tabla list -->
     <app-tabladecompra></app-tabladecompra>

    </div>
  </div>


  
</div>
