
<!-- fila 7 -->
<div class="row grid mt-2 gx-1">
    <div class="col-2">
      <div class="btn-group btn-group-block" role="group">
      <button type="button" class="btn btn-warning"><i class="fa-solid fa-users fa-xl"></i></button>
      </div>
    </div>
    <div class="col-2">
      <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-warning"><i class="fa-solid fa-lock fa-xl"></i></button>
      </div>
    </div>
    <div class="col-3">
      <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-danger">
            <i class="fa-solid fa-trash-can-arrow-up fa-xl me-2"></i>
            Sale</button>
      </div>
  
    
  
    </div>
    <div class="col-5">
      <div class="btn-group btn-group-block" role="group">
        <button type="button" class="btn btn-success"><i class="fa-solid fa-receipt fa-xl me-2"></i>PAY</button>
      </div>
    </div>
    
    
  </div>
  
  
