<app-barranavegacion></app-barranavegacion>


<div class="container mt-4">
  <div class="row">


   <!--  customer info -->
    <div class="col-5">

     <app-customerinfo></app-customerinfo>

    </div>


    <!-- producto list -->
    <div class="col-7">

     <app-grid-opciones></app-grid-opciones>
    </div>



  </div>

  <div class="row mt-4">
    <div class="col-5">
      
      <app-totaldetalle></app-totaldetalle>

    </div>

    <div class="col-7">

        <app-butondown></app-butondown>
     
     </div>

  </div>


</div>