<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">code</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Red Maxi-Dress</td>
        <td>101</td>
        <td>1</td>
        <td>50.00</td>
      </tr>
      <tr>
        <td>Classic blue jeans</td>
        <td>0013</td>
        <td>1</td>
        <td>35.00</td>
      </tr>
      <tr>
        <td>T Shirt Adidas</td>
        <td>2307</td>
        <td>1</td>
        <td>15.00</td>
      </tr>
    </tbody>
  </table>